%h2.path
  %span.path= request.path_info.empty? ? '/' : request.path_info
  - if file
    %a{ :href => "?mode=raw" } (raw)
    %a{ :href => "?mode=edit" } (edit)
    %a{ :href => "?mode=revisions" } (revisions)
    %a{ :href => "?mode=delete", :onclick => "javascript:return confirm('Are you sure?')" } (delete)