!!!
%html
  %head
    %title Gitdocs #{Gitdocs::VERSION}
    %link{ :href => "/css/reset.css", :rel => "stylesheet" }
    %link{ :href => "/css/app.css", :rel => "stylesheet" }
  %body
    .container
      = preserve(yield)
