!!!
%html
  %head
    %title Gitdocs #{Gitdocs::VERSION}
    %link{ :href => "/css/reset.css", :rel => "stylesheet" }
    %link{ :href => "/css/app.css", :rel => "stylesheet" }
    %link{ :href => "/css/tilt.css", :rel => "stylesheet" }
    %link{ :href => "/css/coderay.css", :rel => "stylesheet" }
    %script{ :src => "/js/util.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/app.js", :type => "text/javascript", :charset => "utf-8" }
  %body
    .container
      = preserve(yield)
