!!!
%html
  %head
    %title Gitdocs #{Gitdocs::VERSION}
    %link{ :href => "/css/reset.css", :rel => "stylesheet" }
    %link{ :href => "/css/app.css", :rel => "stylesheet" }
  %body
    .nav
      %h1
        %a{:href => '/'}
          %img{ :src => "/img/git_logo.png", :width => 30, :height => 30}
          Gitdocs
          =Gitdocs::VERSION
    .container
      = preserve(yield)

    .menu
      %a{:href => '/settings'} Settings
